/* .planInformation {
  border: 5px solid #000000;
  text-align: center;
  background-color: rgba(171, 168, 168, 0.679);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}

.chartContainer {
  margin-top: 50px;
} */

.planInformation {
  text-align: center;
  font-family: 'Rockwell';
}

.piHeaders {
  text-align: center;
  color: #e0e0e0;
  font-family: 'Rockwell';
}

.piHeaders2 {
  text-align: center;
  color: black;
  font-family: 'Rockwell';
  margin-top: 50px;
}

.planTitles {
  color: black;
  font-size: larger;
}
