.expenseTable {
  margin-top: 20px;
  border: 2px solid #000000;
  /* border-radius: 10px; */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
}

.expenseTable table {
  width: 100%;
  border-collapse: collapse; /* Collapse borders */
}

.expenseTable th,
.expenseTable td {
  padding: 20px;
  text-align: left;
  border: 2px solid #000000;
  color: #e0e0e0;
  font-family: 'Rockwell';
  /* border-radius: 10px; */
}

.expenseTable th {
  background-color: #e0e0e0;
  color: black;
  font-family: 'Rockwell';
  /* border-radius: 10px; */
}

.expenseHeaders {
  text-align: center;
  color: black;
  font-family: 'Rockwell';
}

.expenseHeaders2 {
  text-align: center;
  color: black;
  font-family: 'Rockwell';
  margin-top: 50px;
}

/* .expenseForm {
  border: 3px solid #000000;
  text-align: center;
  background-color: rgba(171, 168, 168, 0.679);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 80%;
  margin: 0 auto;
} */

.button {
  margin-top: 20px;
}
