.table-container {
  border: 2px solid #000000;
  /* border-radius: 10px; */
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 20px;
  text-align: left;
  border: 2px solid #000000;
  color: #e0e0e0;
  /* border-radius: 10px; */
}

.table-container th {
  background-color: #e0e0e0;
  color:black;
  font-family: 'Rockwell';
  /* border-radius: 10px; */
}

.month-table {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Rockwell';
}

.vtHeader {
  text-align: center;
  color: #e0e0e0;
  font-family: 'Rockwell';
}
