.infoPageContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Rockwell';
}

h1, h2 {
  color: black;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2 {
  margin-top: 30px;
}

.pContent {
  color:#e0e0e0;
}