.container {
  display: flex;
  justify-content: center;
}

.chart-container {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}

.chart-container h2 {
  text-align: center;
  margin-top: 0;
  padding: 10px;
  background-color: #dfdede;
  border-bottom: 1px solid #a09696;
}

