/* .transactionForm {
  border: 3px solid #000000;
  text-align: center;
  background-color: rgba(171, 168, 168, 0.679);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 100px;
  width: 80%;
  margin: 0 auto;
}

.header {
  text-align: center;
  color: #e0e0e0;
}

.input-container {
  margin-right: 15px;
}

.button {
  margin-top: 20px;
} */
