/* .createPlanForm {
  border: 5px solid #000000;
  text-align: center;
  background-color: rgba(171, 168, 168, 0.679);
  width: 80%;
  margin: 0 auto;
  border-radius: 8px;
}


.navButton {
  margin-top: 10px;
  margin-bottom: 10px;
} */

.sideButtons {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 20px; /* Adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
}

.sideButtons > * {
  margin-bottom: 10px;
}

.inputHeader {
  color: #e0e0e0;
  font-family: 'Rockwell';
}

.formTitle {
  color: #e0e0e0;
  font-family: 'Rockwell';
}

.pageTitle {
  color: black;
  text-align: center;
  font-family: 'Rockwell';
  font-weight: 500px;
}

.sideMenu {
  font-family: 'Rockwell';
  color: black;
}
