.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 10px;
  background-color: radial-gradient(circle, #4b6cb7, #182848);
  /* overflow: hidden;
  font-family: 'Rockwell'; */
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Rockwell';
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  margin: 0;
  text-decoration: none;
}

.navLink {
  /* display: inline-block;
  color: #f2f2f2;
  background-color: #2a48c0;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px; */

  /* these last two make the logout button in
  the nav bar look like another link */
  /* border: none;
  cursor: pointer;
  outline: 0; */
  /* text-decoration: underline; */
}

.navLink:hover {
  background-color: #e0e0e0;
}

.linkBar {
  position: absolute;
  top: 0;
  right: 20px;
  display: flex;
  align-items: center;
}
